<div class="home-container card fixed block">
  <div class="title-container">
    <h2>Welcome to project salamander</h2>
    <img class="logo" src="./assets/charizard.png" height="150">
  </div>

  <p class="subtitle">A super fancy timesheet manager for your time at work</p>
  <div *ngIf="isLoggedIn$ | async">
    <a class="block" routerLink="work-log">+ Add a new entry</a>
    <a class="accent block" routerLink="timesheet">View Calendar</a>
  </div>
  <app-login *ngIf="!(isLoggedIn$ | async)"></app-login>

</div>
