.home-container {
  .title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .subtitle {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
