<header>
  <div class="block" routerLink="">
    <img class="logo" src="./assets/logo-timesheet-imbruttito.png" height="45">
  </div>
  <nav>
    <a class="block button" routerLink="timesheet" *ngIf="(authService.user$ | async)">
      Timesheet
    </a>
    <a class="block button" (click)="logout()" *ngIf="(authService.user$ | async)">
      Logout
    </a>
    <div class="logo" *ngIf="(authService.user$ | async) as user" routerLink="profile">
        <img [src]="user.photoURL"/>
    </div>
  </nav>
</header>
