header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 4px;
  background: var(--app-background);
  border-bottom: 4px solid var(---black);
}

nav {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  overflow-x: auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 50px;
    border-radius: 25px;
    border: 3px solid black;
    &:after {
      content: "";
      display: block;
      background: white;
      border: 3px solid red;
      border-radius: 25px;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 3px;
      left: 3px;
      right: 0;
      z-index: -2;
      transition: transform .2s;
    }
  }
  .logo-text {
    margin-left: 5px;
    .logo-text-name {
      font-weight: bold;
    }
  }

}
