.work-log-form-container {
  .identification-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
    margin: auto;
  }

  .description-section {
    .mat-form-field {
      width: 100%;
    }
  }

  .time-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .work-time-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      ::ng-deep {
        .ngx-timepicker {
          border-bottom: none !important;
        }
      }
    }
  }
}
