<div class="timesheet-container" *ngIf="(events$ | async) as events">
  <div class="calendar-header">
    <div class="calendar-title">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      <a class="block accent" routerLink="/work-log">Add log</a>
    </div>
    <div class="calendar-actions">
      <a class="block" [ngClass]="{'accent': view === CalendarView.Month}" (click)="view = CalendarView.Month">Month</a>
      <a class="block" [ngClass]="{'accent': view === CalendarView.Week}" (click)="view = CalendarView.Week">Week</a>
      <a class="block" [ngClass]="{'accent': view === CalendarView.Day}" (click)="view = CalendarView.Day">Agenda</a>
    </div>
  </div>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-day-view>

  </div>
</div>
