.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .calendar-title,
  .calendar-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}

::ng-deep {
  .event-action {
    margin: 5px;
  }
}
